*{
    box-sizing: border-box;
}

body {
    background-size: 30px 30px;
    background-image:
      linear-gradient(to right, grey 1px, transparent 1px),
      linear-gradient(to bottom, grey 1px, transparent 1px);
      display: flex;
      margin: 0;
  }

.shape-container {
    max-width: 1170px;
    min-width: 1170px;
    height: 100vh;
    border: 1px solid red;
    display: grid;
}
