*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-size: 25px 25px;
    background-image:
      linear-gradient(to right, #A2BCD1 1px, transparent 1px),
      linear-gradient(to bottom, #A2BCD1 1px, transparent 1px);
      display: flex;
      align-items: center;
      justify-content: center;
  }

#shape-container {
    width: 1270px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 100px);
    grid-gap: 30px;
}

.shape {
    margin: auto;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}

.shape.circle {
    background: #374785;
    border-radius: 50%;
}

.shape.square {
    background: #f76c6c;
}